.bg-primary1 {
  background-color: #252525 !important;
}

.primary-white {
  color: rgb(234, 234, 234) !important;
}

.cursor {
  cursor: pointer;
}

.glass-effect {
  background-color: rgb(255, 255, 255, 0.06);
  z-index: 10 !important;
  position: relative !important;
  border-radius: 1rem;
  border: 1px solid rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: -15px -17px 17px rgba(10, 10, 10, 0.25);
  overflow-x: hidden !important;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15.25rem, 100%), 1fr));
  grid-gap: 2rem;
}

.empty-card {
  background: linear-gradient(transparent, rgb(0, 0, 0)) !important;
}

.topic:hover {
  background: #0076bb;
  color: black;
  /* background-color: rgb(0, 218, 247); */
}
.question-header {
  background-color: rgba(88, 88, 88, 0.5);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* radio button customized css */
.form-check-input:checked {
  background: #ccff00;
  border-color: transparent;
}

.form-check-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(204, 255, 0, 0.25);
}

.vh-99 {
  max-height: 99vh;
}

.profile-img {
  width: 2.5rem;
  height: 2.5rem;
}

p{
  font-size: 1rem;
}

@media only screen and (max-width: 576px) {
  p {
    font-size: 0.8rem;
  }

}

@media only screen and (max-width: 992px) {

  .profile-img {
    width: 70% !important;
    height: auto;
  }
}