.subcomponet {
  height: 91vh !important;
 

  background-color: #000000;
  /* for glass effect changed background */

  position: relative;
  /* display: flex; */
}

.subcomponet::before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(#0b8cdc, #ff8c00);
  transform: translate(100px, 10px);
}

.subcomponet::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(#bbff00, hsl(235, 100%, 49%));
  transform: translate(1000px, -100px);
}

.subcomponet .ball-1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(0, 255, 0);
  transform: translate(100px, 500px);
  position: absolute;
}

.subcomponet .ball-2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: rgb(0, 157, 255);
  transform: translate(700px, 100px);
  position: absolute;
}

.subcomponet .ball-3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: rgb(0, 255, 234);
  transform: translate(300px, 600px);
  position: absolute;
}

.subcomponet .box {
  margin-top: 50px !important ;
  padding: 20px;
  width: 400px;
  background-color: rgb(255, 255, 255, 0.06);
  z-index: 10;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  box-shadow: -15px -17px 17px rgba(10, 10, 10, 0.25);
}

/* for login register page  */
.form-group {
  background: rgba(202, 191, 191, 0.2);
  border: 1px solid rgba(234, 175, 175, 0.2);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(40px);
}

.form-group button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.subcomponent {
  height: 100vh !important;
  width: 750px;
}

.subcomponent .box {
  margin-top: 50px !important;
  width: 100%;
}

.font-8 {
  font-size: 9rem;
}


@media (max-width: 760px) {

  .subcomponent{
    position: fixed;
  }
}
  