                                       
.sidebar {
  /* width: 300px !important; */
  min-width: 80px;
  max-width: 99vh;
  transition: 0.7s ease-in-out ;
}

.burger-menu{
  display: none;
}

.menu {
  transition: all 0.4s linear ;
  box-shadow: 2px 1px 1px rgb(2, 2, 2,0.3);
}

.menu:hover {
  background-color: rgba(68, 68, 68, 0.4);
}

.logout-btn ,.login-btn{
  position: sticky;
  bottom: 0;
  border-radius: 0.5rem;
}

.login-btn:hover {
  transition: 1s  ;
  background-color: #218b9e;
}

.logout-btn:hover{
  background-color: #bf4747;
}

.active {
  background-color: #4a2fad;
  transform: scale(1.05);
  transition: all 1s linear ;

}

@media (max-width: 768px) {
  .sidebar {
    width: 80px !important;
    display: none !important;
  }

  .logo {
    display: none !important;
  }
  .burger-menu{
    display: block;
  }

  .menu-text {
    display: none !important;
  }
}
