                                       
.sidebar {
  /* width: 300px !important; */
  min-width: 80px;
  max-width: 99vh;
}

.menu {
  transition: all 0.3s linear ;
}

.menu:hover {
  background-color: rgb(110, 110, 110,0.4);
}

.logout-btn ,.login-btn{
  position: sticky;
  bottom: 0;
  border-radius: 0.5rem;
}
.login-btn:hover {
  background-color: #1e4ead;
}

.logout-btn:hover{
  background-color: #bf4747;
}

.icon {
  /* margin-right: 10px; */
}

.link-text {
  font-size: 1rem;
}

.main {
  /* flex-grow: 1; */
  /* box-sizing: border-box; */
  /* background-color: #141414; */
}

.active {
  background-color: #4a2fad;
  transform: scale(1.05);
  transition: all 1s linear ;

  /* padding: 10px 10px; */
}

@media (max-width: 760px) {
  .sidebar {
    width: 80px !important;
  }

  .logo {
    display: none !important;
  }

  .bars {
    margin-left: 12px !important;
  }

  .link-text {
    display: none !important;
  }
}
