.container-div {
  display: flex;
}

.sidebar {
  width: 250px;
  min-width: 80px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  font-size: 1.5rem;
  margin: 0;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0e0e0e;
  margin-bottom: 10px;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #704eec;
}

.icon {
  margin-right: 10px;
}

.link-text {
  font-size: 1rem;
}

.main {
  flex-grow: 1;
  box-sizing: border-box;
  /* background-color: #141414; */
}

.active {
  background-color: #d33636;
  padding: 10px 10px;
  margin: 0;
}

@media (max-width: 668px) {
  .sidebar {
    width: 80px !important;
  }
  .logo {
    display: none !important;
  }
  .bars {
    margin-left: 12px !important;
  }
  .link-text {
    display: none !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
